- short_form = local_assigns.fetch :short_form, false
- if current_application_settings.should_check_namespace_plan?
  - if can?(current_user, :admin_namespace, @project.namespace)
    = link_to 'Upgrade your plan', upgrade_plan_url, class: 'btn btn-primary'
  - elsif @project.group
    %p Contact an owner of group #{ @project.group.name } to upgrade the plan.
  - else
    - owner = @project.namespace.owner
    %p Contact owner #{ link_to(owner.name, user_path(owner)) } to upgrade the plan.
- elsif current_user&.admin?
  - if License.current&.expired?
    = link_to (!short_form ? 'Buy GitLab Enterprise Edition' : 'Buy EE'), Gitlab::SUBSCRIPTIONS_PLANS_URL, class: 'btn btn-primary'
  - else
    = link_to (!short_form ? 'Start GitLab Enterprise Edition trial' : 'Start GitLab EE trial'), new_trial_url, class: 'btn btn-primary'
- else
  %p
    Contact your Administrator to upgrade your license.
